.sidenav{
    background-color:#cc3e58;
    width:200px;
}

.sidenav i {
    padding-right: 10px;
    
}

.content{
    padding: 16px;
   
    background-color: #ebeff2;
    
}

.sidenav a{
    color:#FFF
}
.container{
    background-color: #ebeff2;
    
}

.body{
    background-color: aqua;
}

