<div class="bg-left">
    <h1 class ="title-left">
        {{title}}
    </h1>
    <h3 class="subtitle-left">
        {{subtitle}}
    </h3>
</div> 
<div class="bg-right" >
        <h1 class="title-right">
            Login
        </h1>
        <form class="form">
     
        <mat-form-field appearance="outline">
            <input matInput placeholder ="Nome" [(ngModel)]="usuario.nome" name="nome">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder ="Senha" type="password" [(ngModel)]="usuario.senha" name="senha">
            </mat-form-field>
            
        </form>
       

            <button mat-raised-button class="login-button" (click)="login()" > {{acessar}}</button> 
            <a routerLink="/subscribe" class="subscribe-button"> {{cadastrar}}</a> 
            <a routerLink="/subscribe" class="recoveryPassword"> {{recuperarSenha}}</a> 
            
</div>

