<div class="bg-left">
   <h1 class ="title-left">
        {{title}}
    </h1>
    <h3 class="subtitle-left">
        {{subtitle}}
    </h3>
</div>

<div class="bg-right" >
    <h1 class="title-right">
         {{loginTitle}}   
    </h1>
        <form class="form">
            <mat-form-field  appearance="outline" >
                <input matInput placeholder ="Nome" [(ngModel)]="user.name" name="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input matInput placeholder ="Senha" type="password" [(ngModel)]="user.password" name="password">
            </mat-form-field>
        </form>
        
      
        
        <button mat-raised-button class="login-button-fb" (click)="submitFacebook()" > 
            <img  class="fb-icon" src="/assets/img/fb-icon.png"> {{loginFacebook}} 
        </button> 
            <button mat-raised-button class="login-button" (click)="login()" > {{acessar}}</button> 
            <a ng-mouseover="expression" (click)="openDialog()" > {{recuperarSenha}}</a>
        <a routerLink="/subscribe" class="subscribe-button"> {{cadastrar}}</a> 
       
</div>



