.form{
    display: flex;
    flex-direction: column;
    
    margin-left: 35%;
    width: 30%;
    border-radius: 15px;
}

.mat-card{
    margin-right: 5%;
    margin-left: 20%;
    height: 200px;
}

.title-right{
   display: flex;
   justify-content: center;
   font-size: 5rem;
   font-weight: 300;
   margin-top: 30%;
   margin-bottom: 5%;
   color: rgb(71, 71, 71);
}

.login-button{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-left: 35%;
    width: 30%;
    margin-top: 2%;
    padding-left: 12%;
    
    
    
}
.login-button-fb{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-left: 35%;
    width: 30%;
    margin-top: 2%;
    background-color: #4864b4;
    color :white;
    margin-top: 1px;    
    font-size: 1em;

}


.login-button-google{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-left: 35%;
    width: 30%;
    margin-top: 2%;
    padding-left: 12%;
    background-color: #d04434;
    color:#FFF;
    margin-bottom: 10px;
    
}

.subscribe-button{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-left: 35%;
    width: 30%;
    padding-left: 7%;
    color: #cc3e58;
    margin-top: 2%;
    
    
}

.resetPassword{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    width: 30%;
    padding-left: 7%;
    color: #cc3e58;
    margin-top: 2%;  
}


.bg-left{
    position: fixed;
    top:0%;
    right:50%;
    width:50%;
    height:100%;
    margin-left: 60%;
    background: linear-gradient(to right, #cc3e58 0%, #ff6666 100%)
}

.bg-right{
    position: fixed;
    top: 0%;
    left:50%;
    width:50%;
    height:100%;
    background: linear-gradient(to right, #eff8ff 0%, #eff8ff 100%);
   
}

a{
    text-decoration: underline;
    color: #cc3e58;
    margin-left: 35%;
    
}



.title-left{
    color: aliceblue;
    font-size: 8em;
    font-weight: 300;
    padding-top: 40%;
    margin-left: 12%;
    
}

.subtitle-left{
    color: aliceblue;
    font-size: 1rem;
    font-weight: 200;
    margin-left: 13%;
    margin-top: 5%;
    font-style: italic;

}

.fb-icon{
    width: 20px;
    border-radius: 15px;
    margin-left: 25%;
    margin-top: -3px;
    margin-right: 5%;
    
    
}
.google-icon{
    width: 20px;
    border-radius: 15px;
    margin-left: -86%;
    margin-top: -3px;
    margin-right: 5%;
}

.icon-div{
    padding-left: 41%;
}

.form-reset-password{
    width: 800px;
    height: 300px;
}

.reset-password{
width: 300px;
}

.form-field{
    width: 300px;
}

.bt-enviar{
   width: 300px;
}