.footer {
    position: fixed;
    bottom:0;
    display: flex;
    justify-content: center;
    background-color: #1e2933;
}

.footer span {
    font-size: 1rem;
    font-weight: 300;
}

.p{
    font-size: 1rem;
    font-weight: 300;
    color:aliceblue;
}