.header{
    display:flex;
    align-items:center;
    font-size: 1.5rem;
    font-weight: 300;
}

.header a {
    display:flex;
    align-items: center;
    text-decoration: none;
}
.header .logo{
    max-height: 30px;
    border-radius: 15px;
    background-color: #ebeff2
    
}

.header {
    padding-left: 20px;
    color:#ebeff2
}

.title-group{
    color:#ebeff2
}


.user {
    font-size: 0.9rem;
    margin-top: 2px;
    color:#ebeff2;
    font-style: italic;
    margin-left: auto;
    margin-top: 10px;

}

.navbar{
background-color: #1e2933;
}

.btnExit{
    color:red;
    font-style: normal;
    padding-left: 90px;
    text-decoration: underline

}

