<mat-toolbar class="header mat-elevation-z4 navbar">
    <span>
        <a routerLink="/">
        <img  class = "logo" src ="assets/img/grid_view.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a>
           Portfolio Cadastro
        </a>
    </span>
    <span class="user">
        <a >
            <i class="material-icons">account_circle </i>
            Gabriel Soares 
        </a>
        <a class="btnExit" routerLink="/">
            Sair
        </a>
    </span>
</mat-toolbar>
