<mat-toolbar  class="header mat-elevation-z4 navbar">
    <span >
        <a class="title-group" routerLink="/">
           {{title}}
        </a>
    </span>
    <span class="user">
        <a>
            <i class="material-icons">account_circle </i>
           {{user}}
        </a>
        <a class="btnExit" routerLink="/login">
            Sair
        </a>
    </span>
</mat-toolbar>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/8.6.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/8.6.1/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
