<mat-card>
    <mat-card-title class="card-title">
        Alterar Produto
    </mat-card-title>
    <form class="form">
        <mat-form-field>
            <input matInput placeholder ="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder ="Preço (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>
    <button mat-raised-button class="btnAlterar" (click)="update()"> Alterar</button> 
    <button mat-raised-button class="" (click)="cancel()"> Cancelar</button> 
</mat-card>
