.form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
 
}



.card-title{
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 5rem;
    color: rgb(71, 71, 71);
    margin-top: 25%;
}

.title-left{
    color: aliceblue;
    font-size: 5rem;
    font-weight: 300;
    padding-top: 40%;
    margin-left: 7%;
}

.subtitle-left{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 5%;
}

.bt-subscribe{
    border-radius: 15px;
    width: 40%;
    margin-left: 30%;
    margin-top: 2%
    
    
}

.bg-right{
    position: absolute;
    left: 50%;
    width: 50%;
    height:100%;
    background-color: aliceblue;
}

.bg-left{
    position: absolute;
    top:0% 50% 50% 100%;
    right:50%;
    width:50%;
    height:100%;
    background: linear-gradient(to right, #cc3e58 0%, #ff6666 100%)
}

.login-button{
    margin-left: 37%;
    color: aliceblue;
    border-radius: 15px;
    width: 25%;
    border-color: aliceblue;
}



